<h1><%= t('views.common.title_show', name: User.model_name.human) %></h1>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:name) %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t('views.followings_count') %></strong>
  <%= @user.followings.count %>
</p>

<p>
  <strong><%= t('views.followers_count') %></strong>
  <%= @user.followers.count %>
</p>

<p>
  <strong><%= User.human_attribute_name(:postal_code) %>:</strong>
  <%= @user.postal_code %>
</p>

<p>
  <strong><%= User.human_attribute_name(:address) %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= User.human_attribute_name(:self_introduction) %>:</strong>
  <%= @user.self_introduction %>
</p>

<p>
  <strong><%= User.human_attribute_name(:avatar) %>:</strong>
  <% if @user.avatar.attached? %>
    <br>
    <%= image_tag @user.avatar.variant(resize_to_fill: [150, 150]) %>
  <% end %>
</p>
<% unless @user == current_user %>
  <p>
    <% if current_user.following?(@user) %>
      <%= form_with url: follow_relation_path, method: :delete do |f| %>
        <div><%= hidden_field_tag :follower_id, @user.id %></div>
        <%= button_tag t('views.unfollow'), type: 'submit' %>
      <% end %>
    <% else %>
      <%= form_with url: follow_relation_path do |f| %>
        <div><%= hidden_field_tag :follower_id, @user.id %></div>
        <%= button_tag t('views.follow'), type: 'submit' %>
      <% end %>
    <% end %>
  </p>
<% end %>

<% if current_user == @user %>
  <%= link_to t('views.common.edit'), edit_user_registration_path %> |
<% end %>
<%= link_to t('views.followings_link'), followings_user_path %> |
<%= link_to t('views.followers_link'), followers_user_path %> |

<%= link_to t('views.common.back'), users_path %>
