<p id="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:postal_number) %>:</strong>
  <%= @user.postal_number %>
</p>

<p>
  <strong><%= User.human_attribute_name(:address) %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= User.human_attribute_name(:introduction) %>:</strong>
  <%= @user.introduction %>
</p>

<%= link_to t('views.common.back'), users_path %>