<h1><%= t('.page_title') %></h1>
<p><%= link_to t(:switch_locale), edit_book_path(locale: @locale) %></p>

<%= render 'form', {book: @book, action_name: t('.action_name')} %>

<%= link_to t(:show), @book %> |
<%= link_to t(:back), books_path %>
