<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav_header">
      <ul>
        <% if user_signed_in? %>
          <li>
            ID: <%= current_user.email %>
          </li>
          <li>
            <%= link_to t('header.top'), books_path %>
          </li>
          <li>
            <%= link_to t('header.account_profile'), edit_user_registration_path %>
          </li>
          <li>
            <%= link_to t('header.users'), users_path %>
          </li>
          <li>
            <%= link_to t('header.account_sign_out'), destroy_user_session_path, method: "delete" %>
          </li>
        <% end %>
      </ul>
    </div>

<!--    <div class="flash-messages">-->
      <%# if flash[:notice] %>
<!--        <div class="notice">-->
          <%#= flash[:notice] %>
<!--        </div>-->
      <%# end %>
      <%# if flash[:alert] %>
<!--        <div class="alert">-->
          <%#= flash[:alert] %>
<!--        </div>-->
      <%# end %>
<!--    </div>-->

    <%= yield %>
  </body>
</html>
